<% if user_signed_in? %>
  <div class="container w-75 text-center align-content-center">
    <div class="card">
      <div class="card-header">
        <h4>Friends List</h4>
      </div>
      <div class="card-body">

        <table class="table table-bordered table-hover">
          <thead class="table-light">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Twitter</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <% @friends.each do |friend| %>
            <% if friend.user == current_user %>
              <tr>
                <td><%= friend.first_name %></td>
                <td><%= friend.last_name %></td>
                <td><%= friend.email %></td>
                <td><%= friend.phone %></td>
                <td><%= friend.twitter %></td>
                <td class="text-center"><%= link_to "Show", friend, class: "btn btn-secondary btn-sm" %></td>
                <td class="text-center"><%= link_to "Edit", edit_friend_path(friend), class: "btn btn-secondary btn-sm" %></td>
                <!--          <td><%#= button_to "Delete", friend_path(friend), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-outline-danger btn-sm" %></td>-->
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
        <%= link_to "New friend", new_friend_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>

<% else %>
  <h1>You have to Sign in</h1>
<% end %>