<% if user_signed_in? %>
  <h1>Friend List</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td>
          <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
        </td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= link_to "Show", friend, class: "btn btn-secondary" %></td>
        <td><%= link_to "Edit", edit_friend_path(friend), class: "btn btn-secondary" %></td>
        <td><%= button_to "Delete", friend_path(friend), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>
<% else %>
  <h1>You have to Sign in</h1>
<% end %>